@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
    background-color: #ff6200;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: #ff0000;
    font-family: Roboto, Arial, sans-serif;
    font-size: 27px;
    padding: 1em;
    margin: 1.8em 0 -0.6em 0;
}

p {
    padding: 0 1em;
    line-height: 1.5;
}

#content {
    max-width: 960px;
    margin: 0 auto;
    padding: 3vw;
}

.home-paragraph-3 {
    text-align: center;
}

nav {
    color: #ffc500;
}

nav a {
    color: #ffc500;
    font-size: 1.1em;
}

.banner-box {
    text-align: center;
}

/* main {
    background-color: white;
} */
